@font-face {
  font-family: 'Minerva Modern';
  src: url('fonts/MinervaModern_Regular.otf');
}

@font-face {
  font-family: 'Minerva Modern Bold';
  src: url('fonts/MinervaModern_Bold.otf');
}

body {
  font-family: 'Minerva Modern', sans-serif;
}

b,
strong {
  font-family: 'Minerva Modern Bold', sans-serif;
  font-weight: normal;
}

hr {
  background-color: #ddd;
  height: 1px;
  border-radius: 50%;
  border: none;
}

a,
a:visited {
  color: inherit;
  filter: var(--filter-link-default);
}

a:hover,
a:active,
a:focus {
  filter: var(--filter-link-hover);
}
