:root {
  /* Layout */
  --app-header-height: 105px;
  --logo-width: 128px;
  --content-padding: 0.5rem;
  --border-radius: 0.25rem;
  --content-width-x-small: 640px;
  --content-width-small: 768px;
  --content-width-medium: 1024px;
  --content-width-large: 1440px;
  --content-width-full: 100%;

  /* Colors */
  --color-bg-app: rgb(194, 125, 61, 0.8);
  --color-on-app: #fff;
  --color-bg-content: #fff;
  --color-on-content: #4d4f56;
  --color-bg-header: var(--color-bg-content);
  --color-on-header: var(--color-on-content);
  --color-bg-footer: var(--color-bg-app);
  --color-on-footer: var(--color-on-app);

  /* Filters */
  --filter-link-default: brightness(125%);
  --filter-link-hover: brightness(175%);

  /* Misc */
  --footer-social-size: 48px;
}

@media only screen and (min-width: 800px) {
  :root {
    --app-header-height: 180px;
    --logo-width: 256px;
    --content-padding: 1rem;
  }
}
