---
const { align = 'start', width = 'large' } = Astro.props;
---

<main style={`text-align: ${align}; flex-grow: 1;`}>
  <article style={`max-width: var(--content-width-${width});`}>
    <slot />
  </article>
</main>

<style is:inline>
  main {
    flex-grow: 1;
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
    padding-bottom: calc(2 * var(--content-padding));
    background-color: var(--color-bg-content);
    color: var(--color-on-content);
  }

  article {
    margin: 0 auto;
  }
</style>
