---
import { Image } from 'astro:assets';
import logo from '@assets/Logo2018_600.jpg';
import { appConfig } from '@root/app.config';
---

<header>
  <a href="">
    <Image src={logo} alt={appConfig.title} />
  </a>
</header>

<style>
  header {
    display: flex;
    width: 100svw;
    height: var(--app-header-height);
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-header);
    color: var(--color-on-header);
  }

  img {
    display: block;
    height: auto;
    width: auto;
    max-width: var(--logo-width);
  }
</style>
