---

---

<div class="google-maps">
  <iframe
    id="player"
    src="https://www.google.com/maps/embed/v1/place?center=49.6588515%2C9.9454063&key=AIzaSyBctFF2JCjitURssT91Am-_ZWMzRaYBm4Q&zoom=15&q=REIFFERT+Augenoptik+GbR"
    allowfullscreen="true"
    allow="accelerometer; gyroscope; fullscreen; encrypted-media; picture-in-picture;"
  ></iframe>
</div>

<style>
  div {
    width: 100%;
    aspect-ratio: 4 / 3;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
</style>
