---
const { columnWidth } = Astro.props;
---

<div class="grid">
  <slot />
</div>

<style>
  .grid {
    max-width: 100%;

    > * {
      margin: 0.5rem;
      max-width: calc(100% - 1rem);
    }
  }
</style>
