---

---

<div class="grid">
  <slot />
</div>

<style>
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;

    > * {
      margin: 0.5rem;
      max-width: calc(100% - 1rem);
    }

    img {
      border-radius: var(--border-radius);
    }
  }
</style>
