---
import HtmlHead from './HtmlHead.astro';
import '@src/styles/global.css';
---

<!doctype html>
<html lang="en" class="spx-app">
  <HtmlHead />
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    overscroll-behavior-y: contain;
    background-color: var(--color-bg-app);
    color: var(--color-on-app);
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100svh;
  }
</style>
