---
import HtmlHead from './HtmlHead.astro';
import '@src/styles/global.css';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="spx-app">
  <HtmlHead title={title} description={description} />
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    background-color: var(--color-bg-app);
    color: var(--color-on-app);
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100svh;
  }
</style>

<script>
  // Used by Parallax components
  window.addEventListener('scroll', () => {
    document.documentElement.style.setProperty(
      '--scrollY',
      String(window.scrollY)
    );
  });
</script>
