---
const { imageWidth = '400px' } = { ...Astro.props };
---

<div class="image-with-textbox">
  <slot name="image" />
  <div class="textbox">
    <slot name="text" />
  </div>
</div>

<style define:vars={{ imageWidth }}>
  .image-with-textbox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: calc(2 * var(--content-padding)) auto;
    max-width: 100svw;

    img {
      height: auto;
      max-width: min(
        var(--imageWidth),
        calc(100svw - 2 * var(--content-padding))
      );
      aspect-ratio: auto;
      border-radius: var(--border-radius);
    }

    .textbox {
      transform: translateY(-1rem);
      max-width: min(400px, calc(100svw - 2 * var(--content-padding)));
      padding: var(--content-padding);
      background-color: var(--color-bg-primary);
      color: var(--color-on-primary);
      border-radius: var(--border-radius);
      text-align: center;
    }
  }

  @media only screen and (min-width: 800px) {
    .image-with-textbox {
      flex-direction: row;

      .textbox {
        transform: translate(-2rem);
      }
    }
  }
</style>
