---
const { href } = { ...Astro.props };
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    display: block;
    width: fit-content;
    margin: calc(2 * var(--content-padding)) auto;
    padding: 1rem 2rem;
    background-color: var(--color-bg-primary);
    color: var(--color-on-primary);
    text-transform: uppercase;
    text-decoration: none !important;
    border-radius: var(--border-radius);
    letter-spacing: 0.1em;
  }
</style>
