---
const { height = 600 } = { ...Astro.props };
const heightInPixels = `${600}px`;
---

<div class="parallax" style={`height: ${height}px`}>
  <slot />
</div>

<style define:vars={{ heightInPixels }}>
  .parallax {
    margin-left: calc(-1 * var(--content-padding));
    height: var(--heightInPixels);
    width: 100svw;
    overflow: hidden;

    img {
      object-position: 'center center';
      height: var(--heightInPixels);
      width: auto;
      object-position: center center;
      aspect-ratio: auto;
    }
  }
</style>
