---
import { Image } from 'astro:assets';

const { name, image } = Astro.props;
---

<div>
  <Image src={image} alt={name} />
  <h2>{name}</h2>
  <p><slot /></p>
</div>

<style>
  div {
    width: 500px;
    max-width: 100%;

    img {
      width: 100%;
      height: auto;
    }

    h2 {
      text-align: start;
    }

    p {
      text-align: start;
    }
  }
</style>
