---
import HtmlRoot from '@components/HtmlRoot.astro';
import AppHeader from '@components/AppHeader.astro';
import AppSidebar from '@components/AppSidebar.astro';
import AppFooter from '@components/AppFooter.astro';

const { frontmatter }: { frontmatter: Frontmatter } = {
  frontmatter: {},
  ...Astro.props,
};

const { align = 'start', width = 'large' } = frontmatter;
---

<HtmlRoot>
  <AppHeader />
  <AppSidebar />
  <main style={`text-align: ${align}; flex-grow: 1;`}>
    <article style={`max-width: var(--content-width-${width});`}>
      <slot />
    </article>
  </main>
  <AppFooter />
</HtmlRoot>

<script>
  // @ts-ignore
  import simpleParallax from 'simple-parallax-js/vanilla';

  // Wait for DOM to be ready
  document.addEventListener('DOMContentLoaded', () => {
    const images = document.querySelectorAll('.parallax img');
    if (images.length > 0) {
      new simpleParallax(images, {
        orientation: 'down',
        scale: 1.8,
        transition: 'cubic-bezier(0,0,0,1)',
        delay: 0.8,
      });
    }
  });
</script>

<style>
  main {
    flex-grow: 1;
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
    padding-bottom: calc(2 * var(--content-padding));
    background-color: var(--color-bg-content);
    color: var(--color-on-content);
  }

  article {
    margin: 0 auto;
  }
</style>
